<template>
    <div class="">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form @submit.prevent="addContact" method="POST">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
                            <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required v-model="contactInfo.email">
                            </div>
                            <div class="form-group">
                                <label for="tags">Tags</label>
                                <input type="text" class="form-control" id="tags" required v-model="contactInfo.tags">
                            </div>
                            <div class="form-group">
                                <label for="notes">Notes</label>
                                <textarea class="form-control" id="notes" rows="3" required v-model="contactInfo.notes"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Contact</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-4">
                <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Add Contact</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">My Contacts</div>

                    <div class="card-body">
                        <ul class="list-group" v-for="contact in myContacts" v-bind:key="contact.id">
                            <li @click="showinfo(contact)" class="list-group-item">{{contact.email}}</li>  
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="tags2">Tags</label>
                            <input type="text" class="form-control" id="tags2" readonly v-model="contact.tags">
                        </div>
                        <div class="form-group">
                            <label for="notes2">Notes</label>
                            <textarea type="text" class="form-control" id="notes2" readonly v-model="contact.notes"></textarea>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['user'],
        data(){
            return{
                contactInfo:{
                    email: '',
                    tags: '',
                    notes: '',
                    user_id: this.user.id
                },
                myContacts: [],
                contact: {
                    tags: '',
                    notes: '',
                }
            }
        },
        mounted() {
            // console.log('Component mounted.')
            this.getMyContacts();
        },
        methods:{
            addContact(){
                // console.log(this.contactInfo);
                let vm = this;
                fetch('api/addContact',{
                    method: 'post',
                    body: JSON.stringify(this.contactInfo),
                    headers: {
                        'content-type' : 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    vm.getMyContacts();
                    $("#close").click();
                })
			    .catch(err => console.log(err));
            },
            getMyContacts(){
                var id = this.user.id;
                var email = this.user.email;
                fetch(`api/getContacts/${id}/${email}`)
                .then(res => res.json())
                .then(data => {
                    this.myContacts = data;
                }).catch((err) => console.log(err));
            },
            showinfo(arr){
                this.contact.tags = arr.tags;
                this.contact.notes = arr.notes;
            }
        }
    }
</script>
