<template>
    <div class="">
        <h1>Requests</h1>
        <table class="table-bordered ">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="req in MyRequests" v-bind:key="req.id"> 
                    <td>{{req.email}}</td>
                    <td><button @click="approvedContact(req.id)">Approved</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props:['user'],
        data(){
            return{
                MyRequests : []
            }
        },
        mounted() {
            this.getMyRequests();
        },
        methods:{

            getMyRequests(){
                var id = this.user.id;
                var email = this.user.email;
                fetch(`api/getRequests/${id}/${email}`)
                .then(res => res.json())
                .then(data => {
                    this.MyRequests = data;
                }).catch((err) => console.log(err));
            },
            approvedContact(id){
                let vm = this;
                fetch(`api/UpdateRequest/${id}`,{
                    method: 'put',
                    headers: {
                        'content-type' : 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    alert("Contact Approved!");
                    vm.getMyRequests();
                }).catch(err => console.log(err));
            }
        }
    }
</script>

<style scoped>
th, td {
    padding: 5px;
}
</style>